{% extends 'base.html' %}
{% load static %}
{% load get_discount %}
{% block title %} Скидки и спецпредложения {% endblock %}
{% block content %}
    <main>
        <form id="myForm" action = "/offers" enctype="multipart/form-data" method ="POST" accept-charset="utf8mb4">
            {% csrf_token %}
            <div class="input-line">
                <p style="color:white">Категория</p>
                <select name="category" size="1">
                    {% for cat in categories %}
                        <option value="{{ cat.name }}">{{ cat.name }}</option>
                    {% endfor %}
               </select>
            </div>
            <div class="input-line" style="margin-bottom:5%;">
                <button type="submit" id ="submit" value="send">Отправить</button>
            </div>
        </form>
        <div class="main__row flex">
                <div class="main__assortiment">
                    {% if list %}
                    <table>
                        <b>
                            <tr>
                                <td colspan="3">Информация по выбранной категории товара:</td>
                            </tr>
                            <tr>
                                <td>Компания</td>
                                <td>Предложение</td>
                                <td>Категория</td>
                            </tr>
                        </b>
                        {% for offer in list %}
                            <tr>
                                <td>{{ offer.company }}</td>
                                <td>{{ offer.offer }}</td>
                                <td>{{ offer.category_id }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <p>Выберите категорию товара</p>
                    {% endif %}
                </div>
        </div>
    </main>
{% endblock %}