@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
	background-image:url(media/fon.jpg);
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
   
}


.header{
	background-color:#f05454;
	min-height:50px;
}
.header__wrap{
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    margin-left: 50px;
    margin-top: 20px;

}
.header__heading{
    text-align: center;
    color:#30475e;
}
.header__h1{
    font-size: 50px;

}
.header__phones{
    margin-right: 50px;
}
.header__phones a{
    color:ivory;
}
.header__ul{
    list-style-type: none;
    justify-content: flex-end;
   
 }
 .header__li{
     margin-right: 50px;
     font-size: 20px;
 }
 .header__ul a{
    color:#30475e;
 }
.main__row{
    justify-content: center;
}
 .main__banner{
     margin-top: 50px;
     margin-left: 50px;
 }
 .main__banner__p{
    color:#30475e;
    font-size: 30px;
 }
 .main__banner__img{
     width: 50%;
 }
 .main__assortiment{
    width: 20%;
    margin-top: 100px;
 }
.main__assortiment__ul{
    list-style-type: none;
    justify-content: flex-end;
}


 .footer{
	min-height:100px;
	background-color:#30475e;
	color:#5b829e;
    justify-content: space-around;
    align-items: center;
}